/*Buttons Pane CSS*/

#screenButton {
    -fx-background-image: url("../img/screen.png");
}

#dirsButton {
    -fx-background-image: url("../img/folder.png");
}

#clearButton {
    -fx-background-image: url("../img/clear.png");
}


#optionsButton {
    -fx-background-image: url("../img/options.png");
}

.button,
.toggle-button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-opacity: 40%;
}

.button:hover,
.toggle-button:hover,
.toggle-button:selected {
    -fx-opacity: 100%;
}


/*Log Pane CSS*/
#timeCol {
    -fx-alignment: CENTER;
}

#categoryCol {
    -fx-alignment: CENTER;
}


/*Connection Pane CSS*/
#clientIPColumn {
    -fx-alignment: CENTER;
}